@font-face {
  src: url("fonts/Maplestory Bold.ttf");
  font-family: "Bold";
}

@font-face {
  src: url("fonts/Maplestory Light.ttf");
  font-family: "Light";
}

* {
  margin: 0;
  padding: 0;
}

body {

  background-image: url('img/배경.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Light";
}

h1 {
  font-family: "Bold";
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 13px;
    color: blue;
  }
}

.title {
  width: 180px;
  height: 30px;
  background-color: white;
  opacity: 0.5;
  margin: auto;
  padding: 8px 12px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.speech-bubble {
  font-size: 1.1rem;
  height: 150px;
  position: relative;
  top: 210px;
  background: #aef9c8;
  border-radius: .4em;
  line-height: 30px;
  text-align: center;
  display: none;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #aef9c8;
  border-top: 0;
  margin-left: -20px;
  margin-top: -20px;
}

/* 내가 한거 아님 */
.tabs {
  display: flex;
}

.tabs .tab {
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
  width: 90px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  color: rgb(20, 19, 19);
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px solid black;
}

.content {
  border: 2px solid black;
  width: 500px;
  height: 500px;
}

.items {
  width: 480px;
  display: none;
  padding: 10px;
  background-color: #fff;
  position: relative;
  height: 480px;
}

.items::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 90px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}

.items:nth-child(2)::before {
  left: 94px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}

.items:nth-child(3)::before {
  left: 188px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}

.items.active {
  display: inline-block;
}

/*ㅇㅇㅇ */

body>footer {
  display: flex;
  justify-content: space-between;
  background-color: #383941;
  color: white;
  padding: 24px 30px;
  font-family: none;
  font-size: 13px;
  line-height: 1.5;
}
.ft-item2 {
  display: flex;
  justify-content: space-around;
  width: 150px;
  margin-top: 15px;
}